// Here you can add other styles
div.loading {
  .sk-cube-grid {
    width:80px;
    height:80px;
  }
  .sk-cube {
    background-color: #FFF;
  }
  .modal-content {
    background: none;
    border: none;
  }
}
#campaignPicker {
  .form-group {
    margin-bottom: auto;
  }
}
